<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/5bbec2626f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="home">
    <header class="header">
      <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo mercado liebre" />
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos, marcas" />
      </div>
      <div class="search-bar">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <p class="contenido-centrado texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      <nav>
        <ul class="nav-bar">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="login-bar">
          <li><a href="">Creá tu cuenta </a><i class="fa-solid fa-id-card"></i></li>
          <li><a href="">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
          <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <p><i class="fa-solid fa-bars"></i></p>
      </div>
    </header>
    <main>
      <img src="/images/img-home-banner.jpg" alt="banner" width="100%" />
      <section id="ultima-visita">
        <h3 class="titulares">Basado en tu última visita</h3>
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%" />
          <div>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% off</p>
            <h4 class="descripcion">Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="100%" />
          <div>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripcion class=">MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-s10" width="100%" />
          <div>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripcion">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="smart-tv-samsung" width="100%" />
          <div>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripcion">Smart TV Samsung</h4>
          </div>
        </article>
      </section>
      <section id="ofertas">
        <h3 class="titulares">Ofertas</h3>
        <article>
          <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" width="100%" />
          <div>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% off</p>
            <h4 class="descripcion">Cafetera Moulinex</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-macbook-pro-2019.jpg" alt="macbook" width="100%" />
          <div>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <h4 class="descripcion">MacBook Pro 2019</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-s10" width="100%" />
          <div>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <h4 class="descripcion">Samsung Galaxy S10</h4>
          </div>
        </article>
        <article>
          <img src="/images/img-tv-samsung-smart.jpg" alt="smart-tv-samsung" width="100%" />
          <div>
            <p class="precios">$23.200</p>
            <p class="descuentos">5% off</p>
            <h4 class="descripcion">Smart TV Samsung</h4>
          </div>
        </article>
      </section>
    </main>
    <footer class="footer">
      <section>
        <div class="icono">
          <p><i class="fa-solid fa-credit-card"></i></p>
        </div>
        <h4 class="titulos">Pagá con tarjeta o en efectivo</h4>
        <p class="texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
        <div class="icono">
          <p><i class="fa-solid fa-gift"></i></p>
        </div>
        <h4 class="titulos">Envío gratis desde $2500</h4>
        <p class="texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
        <div class="icono">
          <p><i class="fa-solid fa-user-shield"></i></p>
        </div>
        <h4 class="titulos">Seguridad, de principio a fin</h4>
        <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </section>
      <p class="copyright">Copyright © 1986-2022 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
