footer {
  background-color: white;
  margin: 3px;
}

footer .icono {
  color: var(--colorCeleste);
  text-align: center;
  font-size: 30px;
  padding-top: 25px;
}

footer .titulos {
  text-align: center;
  margin-top: 10px;
}

footer .texto {
  text-align: center;
  padding: 0 60px;
  margin-bottom: 35px;
}

footer .copyright {
  padding: 18px 0;
  font-size: 12px;
}
