* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--colorGrisClaro);
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body .titulares {
  font-size: 24px;
  padding: 10px 0;
}

body .precios {
  font-size: 18px;
}

body .descuentos {
  font-size: 16px;
  color: var(--colorVerde);
}

body .descripcion {
  font-size: 16px;
  padding-top: 20px;
}

body .texto {
  font-size: 12px;
}
