.home main {
  width: 90%;
  margin: 0 auto;
}

.banner {
  width: 100%;
}

.articulo {
  background-color: white;
  margin: 10px 0;
}

.detalles {
  background-color: white;
  border-top: solid 1px var(--colorGrisClaro);
  padding: 15px;
}

.logo-envio {
  color: var(--colorVerde);
  border-radius: 50%;
  border: solid 1px var(--colorVerde);
  width: 30px;
  height: 30px;
  padding: 5px;
}

/* tablets */
@media (min-width: 361px) {
  .articulo {
    box-shadow: 0 0 10px rgb(100, 100, 100);
  }
}

/* desktops */
@media (min-width: 769px) {
}
