.home {
  background-color: var(--colorGrisClaro);
}

body .titulares {
  font-size: 24px;
}

body .precios {
  font-size: 18px;
}

body .descuentos {
  font-size: 16px;
}

body .descripcion {
  font-size: 16px;
}

body .texto {
  font-size: 12px;
}
